<div class="row">
	<div class="col-md-12">
		<div id="map" class="map"></div>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
  	<%= date_field(:user, :born_on) %>
  </div>
</div>





 <div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>

 <%= @data %>
